@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* Variables css */

:root {
    --darkBlue: #10172A;
    --lightBlue: #4E73DF;
    --blue: #3A55A5;
    --black: #303030;
    --white: #fefefe;
    --gray: #D9D9D9;
}

body {
    background: var(--darkBlue);
}

/* start navbar */
.nav {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 70px;
    background: var(--darkBlue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav>ul {
    width: 300px;
    height: 70px;
    display: flex;
    list-style: none;
}

li {
    width: 100%;
    height: 100%;
    background: var(--darkBlue);
}

li>a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-weight: 300;
}

li>a:hover {
    font-weight: 500;
    border-bottom: 4px solid var(--blue);
}

#compras {
    position: relative;
}

#compras:hover .list {
    top: 70px;
    transition: .5s ease-in-out;

}

.list {
    position: absolute;
    top: -400px;
    z-index: -2;
    right: 0px;
    width: 300px;
    height: 400px;
    background: var(--darkBlue);
    border-radius: 0 0 10px 10px;
    border: 1px solid var(--white);
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s ease-in-out;
    overflow-y: auto;
}

.list__item {
    width: 95%;
    height: 80px;
    border-bottom: 3px solid var(--lightBlue);
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list__item:hover {
    background: #ffffff21;
}

.list__img {
    width: 50px;
    height: 50px;
}

.list__title {
    font-size: 1rem;
}

.list__title,
.list__price {
    color: var(--white);
}

.list__items--buy {
    width: 100%;
    height: 320px;
    overflow-y: auto;
}

.list__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.list__compra {
    width: 80%;
    height: 60%;
    background: var(--lightBlue);
    border: 0px;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

.list__compra:hover {
    box-shadow: 0 0 .5rem var(--lightBlue);
}

/* end navbar */

/* start header */

.header {
    width: 100%;
    height: 100vh;
    padding-left: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../../public/assets/bgHeader.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
}

.contain__text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}

.contain__title {
    font-size: 4rem;
    color: var(--white);
}

.contain__subtitle {
    width: 300px;
    font-size: 18px;
    font-weight: 100;
    color: var(--white);
}

.contain__link {
    margin-top: 2rem;
    display: block;
    width: 200px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    color: var(--white);
    font-size: 1.2rem;
    background: var(--lightBlue);
}

.contain__link:hover {
    background: #587eee;
    box-shadow: 0 0 1rem #587eee;
}

/* end header */

/* start section periferics */

.section {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0px;
}

.contain__p--subtitle {
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #6A7EB9;
}

.contain__p--title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--black);
}

.product {
    margin-top: 3rem;
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.card {
    width: 220px;
    height: 270px;
    background: var(--gray);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 20%);
}

.card__image {
    width: 100%;
    height: 180px;
}

.card__body {
    width: 100%;
    height: 90px;
    background: var(--lightBlue);
}

.card__b--title {
    width: 100%;
    text-align: center;
    background: var(--blue);
    color: var(--white);
    font-size: 20px;
}

.card__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__price {
    color: var(--white);
    width: 110px;
    text-align: center;
}

.card__button--buy {
    width: 110px;
    height: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.card__button--buy:hover {
    background: #5b81f5;
}

.icon {
    width: 40px;
}

/* end section periferics */

.footer {
    margin-top: 90px;
    width: 100%;
    height: 120px;
    background: var(--darkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
}

.iconFooter {
    width: 300px;
}